<div class="row">
    <div class="col-md-3">
        <div class="well">
            <h1>Top Predictrs</h1>
            <ol>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ol>

        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <h1>Flop Predictrs</h1>
            <ol>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ol>

        </div>
    </div>
    <div class="col-md-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://placehold.it/1920x600" style="max-width:400px; max-height:400px;" class="img-thumbnail">
                    <div class="carousel-caption">
                        <h2>Username</h2>
                        <p>Description</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" ng-non-bindable>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" ng-non-bindable>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>